<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuwentao.bililottery.mappers.LotteryResultMapper">

    <select id="findLotteryResultByOpenIdAndPatternId" resultType="com.liuwentao.bililottery.Entity.LotteryResult">
        select * from LotteryResultTab where openId = #{openId} and patternId = #{patternId}
    </select>

    <delete id="deleteLotteryResult">
        delete from LotteryResultTab where openId = #{openId} and patternId = #{patternId}
    </delete>


    <insert id="insertLotteryResult" parameterType="java.util.List" useGeneratedKeys="true">
        insert into LotteryResultTab values
        <foreach collection="list" item="lotteryResult" index="index" separator=",">
            (
             null,
             #{lotteryResult.openId},
             #{lotteryResult.patternId},
             #{lotteryResult.content},
             #{lotteryResult.likeCount},
             #{lotteryResult.id},
            #{lotteryResult.pubTime},
            #{lotteryResult.url},
            #{lotteryResult.uid},
            #{lotteryResult.uName},
            #{lotteryResult.faceUrl},
            #{lotteryResult.userHomeUrl}
            )
        </foreach>
    </insert>
</mapper>