<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuwentao.bililottery.mappers.UserModelMapper">

    <select id="findUserByOpenId" resultType="com.liuwentao.bililottery.Entity.UserModel">
        select * from UserModel where openId = #{openId}
    </select>

    <insert id="insertUserModel" parameterType="com.liuwentao.bililottery.Entity.UserModel">
        insert into UserModel values(#{openId},#{avatarUrl},#{nickName})
    </insert>
</mapper>